.jButton {
  width: 100%;
  height: 88px;
  line-height: 88px;
  border: none;
  border-radius: 47px;
  background: #2283E2;
  text-align: center;
  font-size: 30px;
  color: #fff;

  &.primary {
    border: 1px solid #2283E2;
    background: #fff;
    color: #2283E2;
  }
}