.jInput-wrap {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #d3d3d3;
  width: 100%;

  &.no-border {
    border-bottom: 0;
  }
}

.jInput {
  flex-grow: 1;
  height: 84px;
  padding-left: 40px;
  padding-right: 40px;
  color: #666;
  font-size: 28px;
  border: none;

  &::-webkit-input-placeholder {
    color: #666;
    opacity: 0.42;
  }
}

.jInput-right {

}

.jInput-left {

}

.jInput-clear {
  font-size: 26px;
  // visibility: hidden;
  display: none;
  margin-left: 8px;
  margin-right: 8px;

  &.show {
    // visibility: visible;
    display: block;
  }
}

.jInput-eye {
  font-size: 26px;
}