.register-wrap {
  min-height: 100vh;
  background: #fff;
  padding-top: 182px;
}

.register-head {
  text-align: center;
}

.register-head-img {
  width: 638px;
}

.register-body {
  width: 100%;
  padding: 40px;
}

.register-field-item {
  margin-bottom: 40px;
}

.register-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}