.register-wrap {
  min-height: 100vh;
  background: #fff;
  padding-top: 182px;
}

.register-head{
  text-align: center;
}

.register-head-img{
  width: 638px;
}

.register-body{
  padding: 40px;
}

.register-field-item{
  margin-bottom: 40px;
}