.registerSuccess-icon-wrap {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 40px;
}

.registerSuccess-icon {
  color: #67c23a;
  font-size: 150px;
}

.registerSuccess-text {
  text-align: center;
  font-size: 40px;
  color: #666;
}